.my-btn {
  display: block;
  width: 70%;
  font-size: 1.0rem;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  background: #64748b;
  padding: 1rem;
  margin: 1rem auto 1rem;
  border: 0;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}
.my-btn:hover{
  background: #3b4452;
}

