html,
body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #d9e4ed;
}
body {
  height: 100vh;
}
.catDropDown {
  position: relative;
}
.catDropDown > div {
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
  background: rgb(245, 244, 244);
  position: Absolute;
  display: none;
  width: fit-content;
}
.content {
  display: flex;
  flex-direction: column;
}
.content > a {
  display: block;
}
.catDropDown:hover .content {
  display: block;
}
.wrapper {
  min-height: 91vh;
}
