.catDropDown {
  position: relative;
}
.catDropDown > div {
  /* position:absolute; */
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
  background: rgb(245, 244, 244);
  position: Absolute;
  display:none;
  width:fit-content;
}
.content{
    display: flex;
    flex-direction: column;
}
.content>a{
    display:block;
}
.catDropDown:hover .content {
  display:block;
}
